2024/smartfarm-ief/build/
2024/smartfarm-ief/product/**/build
2024/smartfarm-ief/product/**/managed_components
2024/smartfarm-ief/product/**/dependencies.lock
2024/smartfarm-ief/.vscode/
2024/smartfarm-ief/.DS_Store
2024/smartfarm-ief/.cache
2024/smartfarm-ief/tags
2024/smartfarm-ief/sdkconfig.old
2024/smartfarm-ief/compile_commands.json
2024/smartfarm-ief/*.patch
2024/smartfarm-ief/*.swp
2024/smartfarm-ief/cscope.*
2024/smartfarm-ief/.gitmessage.txt
2024/smartfarm-ief/thirdparty/
2024/smartfarm-ief/product/irrigation/manufacturing/csv
2024/smartfarm-ief/product/irrigation/manufacturing/bin
2024/smartfarm-ief/product/irrigation/manufacturing/irrigation_config_tmp.csv
2024/smartfarm-ief/product/irrigation/manufacturing/irrigation_master_tmp.csv
2024/smartfarm-ief/product/irrigation/manufacturing/irrigation_master_tmp_created.csv
